# This is an example of your .env file format, which pnpm db:setup will create.
# Note: this must be .env, not .env.local, without further configuration changes.
POSTGRES_URL="postgresql://sustainly_user:Millz%1994@localhost:5432/sustainly_db"
STRIPE_SECRET_KEY=sk_test_...Jdb9
STRIPE_WEBHOOK_SECRET=your_webhook_secret
BASE_URL=http://localhost:3000
AUTH_SECRET=pQM094HVNgm5dptmVNpzd6RrjndHrzcJ2oP58RgvEek=
