@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 210 29% 24%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 210 29% 24%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 327 73% 97%;
    --accent-foreground: 210 29% 24%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 210 29% 24%;
    --chart-1: 158 89% 40%;
    --chart-2: 267 100% 84%;
    --chart-3: 210 29% 24%;
    --chart-4: 158 89% 40%;
    --chart-5: 267 100% 84%;
    --light-green-secondary: 127 50% 60%;
    --radius: 0.6rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 210 29% 24%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 210 29% 24%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 210 29% 24%;
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-xl: calc(var(--radius) + 4px);
  }

  .dark {
    --background: 210 29% 24%;
    --foreground: 0 0% 100%;
    --card: 210 29% 24%;
    --card-foreground: 0 0% 100%;
    --popover: 210 29% 24%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 210 29% 24%;
    --secondary: 210 25% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 25% 18%;
    --muted-foreground: 0 0% 80%;
    --accent: 158 89% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 25% 18%;
    --input: 210 25% 18%;
    --ring: 0 0% 100%;
    --chart-1: 158 89% 40%;
    --chart-2: 267 100% 84%;
    --chart-3: 0 0% 100%;
    --chart-4: 158 89% 40%;
    --chart-5: 267 100% 84%;
    --light-green-secondary: 127 50% 60%;
    --sidebar-background: 210 25% 18%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 210 29% 24%;
    --sidebar-accent: 210 20% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 210 20% 25%;
    --sidebar-ring: 0 0% 100%;
  }

  body {
    @apply antialiased bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50;
  }
}

@layer utilities {
  body {
    font-family: var(--font-inter), sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-gilroy), sans-serif;
    font-weight: 600;
  }

  h1 {
    font-weight: 700;
  }
}